.navbar{
    width: 100%;
}

.content{
    justify-content: center;
    text-align: center;
}

h3{
    margin-bottom: 2.5%;
}

.subtext{
    color: #747474;
}

section{
    margin-bottom: 10%;
}

.card{
    margin: auto;
}